<section class="checkins cf">
	<form name="myForm" 
	ng-submit="addCheckin()" novalidate>
		<h1>Check-in</h1>
		<p>to go to meeting</p>
		<p class="error formerror" ng-show="message">{{message}}</p>

		<input type="firstname" name="firstname" placeholder="firstname" autofocus
		ng-model="user.firstname" ng-required="true">
		<p class="error validationerror" ng-show="myForm.firstname.$invalid && myForm.firstname.$touched">first name is required</p>
		
		<input type="lastname" name="lastname" placeholder="lastname" autofocus
		ng-model="user.lastname" ng-required="true">
		<p class="error validationerror" ng-show="myForm.lastname.$invalid && myForm.lastname.$touched">last name is required</p>

		<input type="email" name="email" placeholder="Email" autofocus
		ng-model="user.email" ng-required="true">
		<p class="error validationerror" ng-show="myForm.email.$invalid && myForm.email.$touched">must be a valid email</p>
				
		<button type="submit" class="btn"
		ng-disabled="myForm.$invalid">Check In</button>
		<p>or <a href="/#login"> login</a></p>
	</form>
</section>

		